.InAvatar {
  margin: 5px;
}

.InAvatar .InAvatar-Image {
  border-radius: 50%;
  background-color: #e2e2e2;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.InAvatar .InAvatar-Text {
  border-radius: 50%;
  background-color: #e2e2e2;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}