.InTeamHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  margin: 15px 0;
  padding: 15px;
}

.InTeamHeader-Name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}